include LICENSE
include README.md
include INSTALL.md
include HISTORY.rst
include requirements.txt
include testing.requirements.txt
include minimum.requirements.txt
recursive-include docs *
recursive-include test *
global-exclude *.pyc
global-exclude __pycache__
